@media (max-width: 35em) {
	body { padding-left: 2em; }
}

body {
	max-width: 50em;
	margin: auto;
}

.warn, .todo {
	border: solid red 5px;
	padding: 1em;
	background: #ffaaaa;
}
.warn::before {
	content: "WARNING: ";
}

.todo::before {
	content: "TO DO: ";
}

a.self-link {
	text-decoration: none;
}
a.self-link {
	color: currentColor;
}
a.self-link:hover::before {
	float: left;
	margin-left: -1.5rem;
	font-size: 1.2rem;
	content: "§";
}

dt {
	margin-top: 1em;
}
dt+dd,
dd+dd {
	column-break-before: avoid;
	page-break-before: avoid;
	break-before: avoid;
}
