body {
	max-width: 50em;
	margin: auto;
}

.warn, .todo {
	border: solid red 5px;
	padding: 1em;
	background: #ffaaaa;
}
.warn::before {
	content: "WARNING: ";
}

.todo::before {
	content: "TO DO: ";
}
