<div class="warn" id="inactive-cg">
	<p>
		Implementation of the technologies discussed and tentatively specified in this Community Group is ongoing
		and none of the original contributors have expressed opposition to this work.
		However, due to various circumstances,
		the level of participation has dropped below the level at which productive discussion is possible,
		and activity in this group has stopped as a result.
	</p>

	<p>
		The specifications have therefore not been maintained in a while, and are out of date.
	</p>

	<p>
		In the meanwhile, a new <a href="https://github.com/w3c/webextensions">“WebExtensions Community Group”</a>,
		with similar objectives but much more active participation,
		has sprung up.
		People interested in this topic are encouraged to join that group.
	</p>
</div>

